<% title "Inscription" %>

<p>Pas encore inscrit ? <%= link_to "Inscrivez-vous !", signup_path %></p>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Nom d'utilisateur ou Email :" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password, "Mot de passe :" %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Connexion" %></p>
<% end %>
