<%= render "/layouts/header" %>
<div class="container" id="content" style="margin-top:100px;" >  

<p>Déjà inscrit ? <%= link_to "Connectez-vous !", login_path %></p>
<br />

<h1>Inscription</h1>
<br />

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="row show-grid" title="Four column layout">
     <div class="span3"> 
    <%= f.label :username, "Nom d'utilisateur :" %><br />
    </div>
    <div class="span3"> 
    <%= f.text_field :username %>
    </div>
  </div>
  <br />

  <div class="row show-grid" title="Four column layout">
     <div class="span3"> 
    <%= f.label :email, "Email :" %><br />
    </div>
    <div class="span3"> 
    <%= f.text_field :email %>
    </div>
  </div>
  <br />

  <div class="row show-grid" title="Four column layout">
     <div class="span3"> 
    <%= f.label :password, "Mot de passe :" %><br />
    </div>
    <div class="span3"> 
    <%= f.password_field :password %>
    </div>
  </div>
  <br />

  <div class="row show-grid" title="Four column layout">
     <div class="span3"> 
      <%= f.label :password_confirmation, "Confirmation :" %><br />
    </div>
    <div class="span3"> 
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <br />
  <br />

  <p><%= f.submit(@user.new_record? ? "S'enregistrer" : "Update", :class => "btn small primary") %></p>
<% end %>
</div>
