<%= render "/layouts/header" %>
<% if logged_in? %>  
  Bienvenue <span id="DivCurrentUser"><%= current_user.username %></span> ! Ce n'est pas vous ?  
  <%= link_to "Déconnexion", logout_path %>  
<% else %>  
  <%= link_to "Inscription", signup_path %> or  
  <%= link_to "Connexion", login_path %>.  
<% end %> 