<!DOCTYPE html>
<html>
  <head>
    <title>Twitter | <%= @title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :jquery %>
    <script type="text/javascript" src="http://localhost:1234/socket.io/socket.io.js"></script>
    <%= javascript_include_tag :actualisation %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body> 
   
    <%= render "/layouts/header" %>

    <div class="container" id="content" style="margin-top:100px;" >  
      <p>
        <%= render :partial => "users/login" %>
      </p>
      <%= yield %>  
    </div>  

    <%= render "/layouts/footer" %>

  </body> 
</html>